# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

https://github.com/github/gitignore/blob/main/Java.gitignore

https://github.com/github/gitignore/blob/main/Maven.gitignore

.idea/